<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Career Website</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-950">
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-blue-600 text-center font-sans">Career Cracker</h1>
    <img src = "https://6a082b66-a9dd-416a-9836-c6bf9a926a2e-00-3lcb996nfk1t3.pike.replit.dev/static/banner.jpg" class="w-full h-100px mt-5" >"

    <h2 class="text-2xl font-bold text-white text-center font-sans">About Career Cracker</h2>
    <p1 class="text-white text-center font-sans mt-10">
    Career Cracker is a website designed to help you find your dream job. We offer a wide range of resources to help you with your job search, including job postings, career advice, and resume writing tips. Our goal is to make the job search process as easy and stress-free as possible for you.
    </p1>

    <h2 class="text-2xl font-bold text-white text-center font-sans mt-10">Open Positions</h2>
    <p class="text-white text-center font-sans mt-10"">TODO - Show the jobs here</p>
    <div class="flex justify-center mt-4">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Contact us</button>
    </div>

    
   
  </div>
</body>
</html>